body {
  background-color: #1e1e1e; /* Dark background color */
  color: #c9d1d9; /* Light text color */
  font-family: Arial, sans-serif;
}

.forma {
  margin: 20px;
}

input[type="text"],
select {
  background-color: #2d333b; /* Dark input background color */
  color: #c9d1d9; /* Light input text color */
  border: none;
  border-radius: 4px;
  padding: 10px; /* Increased padding for a bigger appearance */
  margin-right: 10px;
  width: 600px; /* Increased width to 600px */
}

button {
  background-color: #f1f1f1; /* Button background color */
  color: #141212; /* Button text color */
  border: none;
  border-radius: 4px;
  padding: 10px 16px;
  cursor: pointer;
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #30363d; /* Table border color */
}

th {
  background-color: #161b22; /* Table header background color */
  color: #c9d1d9; /* Table header text color */
}

tr:nth-child(even) {
  background-color: #21262d; /* Table even row background color */
}

tr:hover {
  background-color: #32383f; /* Table row hover background color */
}

#tasks {
  margin-top: 20px;
}

#task {
  width: 950px; /* Increased width to 750px */
}

#select1,
#select2 {
  width: 200px; /* Increased width to 300px */
}

@media (max-width: 768px) {
  .forma {
      flex-wrap: wrap;
  }
  
  input[type="text"],
  select {
      width: 100%;
      margin-bottom: 10px;
  }

  button {
      width: 100%;
  }
  
  #task {
      width: 100%;
  }
}
